<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
       <!-- 打印sql日志 -->
       <setting name="logImpl" value="STDOUT_LOGGING" />
   </settings>
<typeAliases>
	<package name="cn.hzy.demo.model"/>
</typeAliases>

 <mappers>
  <mapper resource="cn/hzy/demo/mapper/CustomerMapper.xml"/> 
  <mapper resource="cn/hzy/demo/mapper/PersonMapper.xml"/> 
  <mapper resource="cn/hzy/demo/mapper/IdCardMapper.xml"/>
  <mapper resource="cn/hzy/demo/mapper/ItemsMapper.xml"/>
  <mapper resource="cn/hzy/demo/mapper/ProductMapper.xml"/>
 <!--
  <package name="cn/hzydemo/mapper"/> 
  --> 
 </mappers>
</configuration>